/*Boostrap*/
/*Colores en Boostrap*/
/*
    Primary --> Outline
    Secondary
    Success
    Danger
    Warning
    Info
    Light
    Dark
*/
*{
    font-family: 'Lato', sans-serif;
}

h1{
    text-transform: uppercase;
}

.button{
    padding: 10px;
    background-color: red;
    color: white;
    border-radius: 15%;
    border: 3px solid black;
    text-decoration: none;
}

.button:hover{
    color: black;
    font-size: bold;
}

.hLogo:hover{
    color: blueviolet;
}

.pad30{
    padding: 30px;
}

.imgMax{
    max-height: 700px;
}

.imgRGBA{
    background-color: rgb(134, 245, 245);
}

#Contactenos{
    background-color: rgb(117, 243, 220);
    padding: 45px;
}