:root{
        --txtPrimary: rgb(0,0,123);
        --txtSecond: red;
        --txtThrid: rgb(46, 253, 46);
        --bgPrimero: rgb(105,136,105);
        --bgSegundo: rgb(185,155,107);
        --bgSegundo_: rgb(128,155,107);
        --bgTercero: rgb(241,219,191);
        --bgCuarto: rgb(170,86,86);
        --altoPantalla: 850px;
        --altofooter: 762.4px;
}

*{
    font-family: 'Lato', sans-serif;
}

h1{
    color: var(--txtPrimary);
    text-align: center;
}

h2{
    color: white;
    text-decoration: underline;
}

h3{
    color: var(--txtPrimary);
}

p{
    font-size: 15px;
    color: var(--txtPrimary);
    text-align: justify;
}

/*Solector por clases*/

.primero{
    background-color: var(--bgPrimero);
    height: 300px;
}

.segundo{
    background-color: var(--bgSegundo);
    height: 300px;
}

.tercero{
    background-color: var(--bgTercero);
    height: 300px;
}

.cuarto{
    background-color: var(--bgCuarto);
    height: 300px;
}

.header{
    height: 800px;   
    /*background-color: var(--bgSegundo);*/
}

.hLogo{
    padding: 40px;
    /*background-color: var(--bgPrimero);*/
    height: 200px;
    border: 5px solid var(--bgPrimero);
}

.hNav{
    height: 600px;
    background-color: var(--bgCuarto);
    border: 5px solid var(--bgTercero);
}

.hNav:hover{
    height: 600px;
    background-color: var(--bgCuarto);
    border: 5px solid var(--bgTercero);
}

.itemNav{
    text-align: center;
    font-size: 35px;
    padding-top: 70px;
    padding-bottom: 70px;
}

.linkNav{
    text-decoration: none;
    color: white;
}

.linkNav:hover{
    color: var(--bgPrimero);
    font-weight: bold;
}

#Nosotros{
    min-height: var(--altoPantalla);
    background-color: var(--bgSegundo);
}

#Servicios{
    height: var(--altoPantalla);
    background-color: var(--bgTercero);
}

#Contactenos{
    height: var(--altoPantalla);
    background-color: var(--bgPrimero);
}
.formatoImagen{
    width: 240px;
    height: 100px;
    border: 5px solid white;
}

.imgGall{
    /*padding-left: 150px;
    padding-right: 100px;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.secHistoria{
    padding: 10px;
}

.secHistoriaCliente{
    padding: 50px;
    background-color: var(--bgSegundo_);
}

.secCliente{
    padding: 20px;
}

.tRedesF{
    text-align: center;
    color: blue;
    margin: 0px;
}

.pad40{
    padding: 40px;
}

.pad20{
    padding: 20px;
}

.desFacebook{
    background-color: var(--bgCuarto);
}

.desYoutube{
    background-color: var(--bgTercero);
}

.tRedesY{
    text-align: center;
    color: red;
    margin: 0px;
}

.tRedesW{
    text-align: center;
    color: #008000;
    margin: 0px;
}

.desWhatsapp{
    background-color: var(--bgPrimero);
}

.bor5{
    border-bottom: 2px solid white;
}

.tServicios{
    text-align: center;
    color: var(--txtThrid);
    padding-top: 15px;
    margin: 0px;
    
}

.hServicios{
    height: 80px;
    padding: 25px;
}

.servic{
    min-height: 665px;
    padding: 20px;
}

.imgBg1{
    background-color: brown;
}

.imgBg1{
    background-image: url('../img/imgCasa1.jpg');
    min-height: 400px;
    padding: 50px;
}

.tServ1{
    text-align: center;
}

.bgOpaco{
    background-color: rgba(170, 86, 86, 0.495);
}

.desSer1{
    color: rgb(157,206,210);
}

.imgBg2{
    background-image: url('../img/imgCasa2.jpg');
    min-height: 400px;
    padding: 50px;
}

.tServ2{
    text-align: center;
    color: black;
}

.bgOpacoServ2{
    background-color: rgba(105, 136, 105, 0.348);
}

.desSer2{
    color: brown;
}

.tContactenos{
    color: white;
    text-align: center;
}

.bgCardContac{
    background-color: rgb(15, 119, 15);
    min-height: 480px;
}

.footer{
    background-color: black;
}

.txtFooter{
    color: white;
    text-align: center;
    margin: 0px;
}



/*Pantalla pequena*/
[class*="col-"]{
    width: 100%;
    float: left;
    box-sizing: border-box;
    /*border: 1px solid black;*/
}

/*pantalla mediana*/
@media only screen and (min-width: 590px) {
    .col-md-12{
        width: 100%;
    }
    
    .col-md-6{
        width: 50%;
    }
    
    .col-md-3{
        width: 25%;
    }
    
    .col-md-4{
        width: 33.33%;
    }
    
    .col-md-8{
        width: 66.66%;
    }

    .col-md-5{
        width: 41.66%;
    }

    .col-md-7{
        width: 58.33;
    }

    /*img{
        height: 100px;
        width: 150px;
    }*/

    .linkNav{
        font-size: 25px;
    }

    .header{
        height: 200px;
    }

    .hNav{
        height: 200px;
    }

}

@media only screen and (min-width: 760px){
    /*[class*="col-"]{
        /*float: left;
        border: 1px solid black;
        width: 100%;   
    }*/

    .col-12{
        width: 100%;
    }
    
    .col-6{
        width: 50%;
    }
    
    .col-3{
        width: 25%;
    }
    
    .col-4{
        width: 33.33%;
    }
    
    .col-8{
        width: 66.66%;
    }

    .col-5{
        width: 41.66%;
    }

    .col-7{
        width: 58.33;
    }

    img{
        height: 100px;
        width: 360px;
    }

    .header{
        height: 200px;
    }

    .hNav{
        height: 200px;
        color: black;
    }
}