*{
    background-color: yellowgreen;
}
.celda{
    width: 25px;
    height: 25px;
    background-color: aquamarine;
    float: left;
}
.fila{
    display: flex;
}
.letra{
    float: left;
    margin: 10px;
}
.blanco{
    background-color: white;
}
#ejemplo1{
    height: 200px;
    background-color: blue;
    width: 33%;
    float: left;
}
#ejemplo3{
    height: 200px;
    background-color: violet;
    width: 33%;
    float: left;
}
#ejemplo2{
    height: 200px;
    background-color: orange;
    width: 33%;
    float: left;
}